{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block body %}

<div class="container my-3">
    <div class="row">
        <div class="col-md-4">
            <!-- Add Todo -->
            <div class="container my-3">
                <h2>Add a Todo</h2>
                <hr class="my-1">
                <form action="/" method="POST">
                    <div class="mb-3">
                        <label for="title" class="form-label">Todo Title</label>
                        <input type="text" class="form-control" id="title" name="title" required>
                    </div>
                    <div class="mb-3">
                        <label for="desc" class="form-label">Todo Description</label>
                        <input type="text" class="form-control" id="desc" name="desc" required>
                    </div>
                    <button type="submit" class="btn btn-outline-dark">Add</button>
                </form>
            </div>
        </div>
        <div class="col-md-8">
            <!-- Search -->
            <form method="POST" action="{{ url_for('search') }}" class="d-flex">
                <input type="text" class="form-control shadow me-2" name="search_title" placeholder="Search title...">
                <button type="submit" class="btn btn-outline-success">Search</button>
            </form>
            <hr class="my-3">
            <table class="table table-striped table-hover">
                {% if searchResult|length == 0 %}
                <!-- Blank -->
                {% else %}
                <thead class="table-dark">
                    <tr>
                        <th scope="col">SNo</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Time</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                {% for t in searchResult %}
                <tbody>
                    <tr>
                        <th scope="row">{{loop.index}}</th>
                        <td>{{t.title}}</td>
                        <td>{{t.desc}}</td>
                        <td>{{t.date_created}}</td>
                        <td>
                            <a href="/update/{{t.sno}}" class="btn btn-outline-success btn-sm ">Update</a>
                            <a href="/delete/{{t.sno}}" class="btn btn-outline-danger btn-sm ">Delete</a>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>
</div>


<!-- Display Todos -->
<div class="container mx-auto">
    <h2>My Todos</h2>
    <hr class="my-1">
    <table class="table table-striped table-hover">
        {% if allTodos|length == 0 %}
        <div class="alert alert-dark" role="alert">
            No Record Found! - Please Add your first Todo
        </div>
        {% else %}
        <thead class="table-dark">
            <tr>
                <th scope="col">SNo</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Time</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        {% for todo in allTodos %}
        <tbody>
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{todo.title}}</td>
                <td>{{todo.desc}}</td>
                <td>{{todo.date_created}}</td>
                <td>
                    <a href="/update/{{todo.sno}}" class="btn btn-outline-success btn-sm mx-1">Update</a>
                    <a href="/delete/{{todo.sno}}" class="btn btn-outline-danger btn-sm mx-1">Delete</a>
                </td>
            </tr>
        </tbody>
        {% endfor %}
        {% endif %}
    </table>
</div>

{% endblock body %}